.App {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px; 
}

.slick-slide > div {
  margin: 0 15px;
}
.slick-list {
  margin: 0 15px;
}

.card {  
  border-radius: 10px;
  overflow: hidden;   

}

.card img {
  width: 300px; 
  height: 300px;  
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 80%;
}

.bottoms img {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
