* {
  margin: 0;
  padding: 0;
}

.App {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px; 
}

.slick-slide > div {
  margin: 0 15px;
}

.slick-list {
  margin: 0 15px;
}

.login {
  background-image: url("https://images.ctfassets.net/560btuj1niry/7pWM27VXzaG39FapMX1f8F/d713035a1e0e8a2a4656b5073ad765da/AdobeStock_264160910_rid.jpeg");
  background-size: cover;
  background-position: center; 
  overflow: hidden;  
  height: 1000px; 
  width: 100%;
  margin: 0px auto;
}

.card {  
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 300px; 
  height: 300px;  
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 80%;
}

.bottoms img {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
